<footer class="footer">
    <div class="footer-container">

<!-- Cột 1  -->
        <div class="footer-col">
            <img src="assets/images/logo.jpg" alt="footer-logo" class="footer-logo">
        </div>

<!-- Cột 2  -->
        <div class="footer-col">
            <h4>LIÊN HỆ</h4>
            <p>256 Nguyễn Văn Cừ, Quận Ninh Kiều, Thành phố Cần Thơ</p>
            <p>Hotline: 0123 456 789</p>
            <p>Email: abcd@example.com</p>

            <h4>ĐĂNG KÝ NHẬN TIN</h4>
            <div class="newsletter">
                <input type="text" placeholder="Nhập email">
                <button>GỬI</button>
            </div>
        </div>

   <!-- Cột 3 -->
        <div class="footer-col">
            <h4>MENU</h4>
            <ul >
                <li><a href="#">Trang chủ</a></li>
                
                <li><a href="#">Giới thiệu</a></li>
                
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>

<!-- Cột 4 -->
        <div class="footer-col">
            <h4>THÔNG TIN HỖ TRỢ</h4>
            <ul>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Chính sách bảo mật thông tin</a></li>
            </ul>

          
        </div>

    </div>


<!-- Div under  -->
    <div class="footer-bottom">
        © 2026 BookStore | All rights reserved
    </div>
</footer>